@charset "utf-8";
.projects-main {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.index-projetcs {
    padding-top: 50px;
    padding-bottom: 150px;

}
.projects-thumbnails {
    padding-top: 50px;
    padding-bottom: 50px;

}
.aboutme-text {
    color: #8C8C8C;
    font-weight: bold;
    font-family: "Gotham Thin";
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
}
.total-footer {
    padding-top: 50px;
    padding-bottom: 25px;
}
.footer-text-1 {
    color: #8C8C8C;
    font-weight: bold;
    font-family: "Gotham Thin";
}
.zine-bottom {
    margin-top: 150px;
    margin-bottom: 50px;
}











@media (max-width: 414px){
	
}

@media (min-width: 415px) and (max-width: 1024px){
	
}


.total-header {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FFFFFF;
    margin-bottom: 0px;
}
.zine-header {
    color: #8C8C8C;
    font-weight: bold;
    font-family: "Gotham Thin";
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}
.zine-subheader {
    color: #8C8C8C;
    font-weight: bold;
    font-family: "Gotham Thin";
    text-align: center;
    margin-top: 25px;
    margin-bottom: 100px;
}

.zine-text{
    color: #8C8C8C;
    font-weight: bold;
    font-family: "Gotham Thin";
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

.publication-titles {
    color: #8C8C8C;
    font-weight: bold;
    font-family: "Gotham Thin";
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    text-decoration: none;
}

.index-footer {
    width: 1440px;
    height: 100vh;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
    left: auto;
    right: auto;
    overflow-x: hidden;
}

.index-main {
    height: 100vh;
    right: auto;
    left: auto;
}


.index-jackwalsh {
    text-decoration: none;
    color: #8C8C8C;
    font-weight: bold;
    font-family: "Gotham Thin";
    right: auto;
    left: auto;
}

.index-options {
    text-decoration: none;
	color: #8C8C8C;
    overflow-x: hidden;
	font-family: "Gotham Thin";
}
.total-page {
    overflow-x: hidden;
}

a:hover {
    color: #000000;
}
